body {
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 761px) {
  .container {
    max-width: none;
  }
}
/*Header (start)-----------------------------------------------------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  height: 82px;
  background: linear-gradient(to left, #172238, #395585 50%, #172238 100%);
}
.header .header__up {
  display: flex;
  height: 57px;
  padding-top: 35px;
}
.header .header__up .header__up-logo {
  height: 100%;
  max-width: 236px;
}
.header .header__up .header__up-list {
  display: flex;
  flex-direction: row;
}
.header .header__up .header__up-list .header__up-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  padding-right: 40px;
}
.header .header__up .header__up-list .header__up-item .header__up-item-name {
  font-family: "CirceRegular", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 10px;
  color: white;
  padding-left: 10px;
}
.header .header__up .header__up-list .header__up-item .header__up-item-name:hover {
  text-decoration: underline;
  color: white;
}
.header .header__bottom {
  display: flex;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.header .header__bottom .header__bottom-section {
  margin-left: 235px;
  background-color: white;
}
.header .header__bottom .header__bottom-section .header__bottom-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 25px;
  height: 56px;
  align-items: center;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__bottom-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__bottom-item .header__bottom-item-name {
  font-family: "CirceBold", sans-serif;
  color: black;
  font-size: 14px;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__bottom-item .header__bottom-item-name:hover {
  text-decoration: underline;
  color: black;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__bottom-tel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__bottom-tel .header__bottom-tel-name {
  font-family: "CirceLight", sans-serif;
  font-size: 15px;
  color: black;
  margin-left: 5px;
  height: 20px;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__bottom-tel .header__bottom-tel-name:hover {
  text-decoration: underline;
  color: black;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__button1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 205px;
  background-color: #efefef;
  transition: 0.5s;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__button1:hover {
  background-color: #cac9c9;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__button1 .header__button1-name {
  font-family: "CirceRegular", sans-serif;
  font-size: 11px;
  color: black;
  line-height: 14px;
  margin: 0;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__button2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 160px;
  background-color: #c82a33;
  transition: 0.5s;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__button2:hover {
  background-color: #8b1a20;
}
.header .header__bottom .header__bottom-section .header__bottom-list .header__button2 .header__button2-name {
  font-family: "CirceRegular", sans-serif;
  font-size: 11px;
  color: white;
  line-height: 14px;
  margin: 0;
}

/*Header Bottom (end)--------------------------------------------------------------------------*/
/*Header (end)---------------------------------------------------------------------------------*/
/*Intro (start)--------------------------------------------------------------------------------*/
.intro {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: #f8f8f8;
}
.intro .intro__grid {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.intro .intro__grid .grid__item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery .grid-gallery__item {
  height: 610px;
  width: 770px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery .grid-gallery__item1 {
  background: url("../img/intro_block/intro_block_01.jpg") no-repeat;
  background-size: cover;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery .grid-gallery__item1 .grid-item__button {
  height: 50px;
  width: 200px;
  display: flex;
  border: 1px solid black;
  margin: 35px 35px 0 35px;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: "CirceLight";
  font-size: 14px;
  letter-spacing: 0.2em;
  transition: 0.5s;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery .grid-gallery__item1 .grid-item__button:hover {
  color: white;
  background-color: #395585;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery .slick-arrow {
  position: relative;
  display: block;
  z-index: 10;
  font-size: 0;
  border: none;
  top: 245px;
  width: 155px;
  height: 35px;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery .slick-arrow.slick-next {
  left: -33px;
  background-color: #395585;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery .slick-arrow.slick-next:hover {
  background-color: #4d72b1;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery .slick-arrow.slick-prev {
  left: 672px;
  background-color: #395585;
}
.intro .intro__grid .grid__item1 .intro__grid-gallery .slick-arrow.slick-prev:hover {
  background-color: #4d72b1;
}
.intro .intro__grid .grid__item2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background: url("../img/intro_block/intro_block_02.jpg") no-repeat;
}
.intro .intro__grid .grid__item3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background: url("../img/intro_block/intro_block_03.jpg") no-repeat;
}
.intro .intro__grid .grid__item4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background: url("../img/intro_block/intro_block_04.jpg") no-repeat;
}
.intro .intro__grid .grid__item5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background: url("../img/intro_block/intro_block_05.jpg");
}
.intro .intro__grid .grid__item5 .grid-item__label {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 25px;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable1 {
  width: 300px;
  height: 340px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: 35px;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable2 {
  width: 170px;
  align-self: flex-end;
  justify-self: flex-start;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable3 {
  width: 170px;
  align-self: flex-start;
  justify-self: flex-start;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable4 {
  width: 170px;
  align-self: flex-end;
  justify-self: flex-start;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable5 {
  width: 300px;
  align-self: flex-start;
  justify-self: flex-start;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable5 .grid-item__name-big {
  margin: 35px 35px 0 35px;
  font-family: "CirceLight", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  color: black;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable5 .grid-item__desc-big {
  margin: 35px 35px 0 35px;
  font-family: "CirceLight", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: black;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable5 .grid-item__name-small {
  margin: 20px 30px 20px 30px;
  font-family: "CirceLight", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: black;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable5 .grid-item__name-small:hover {
  text-decoration: underline;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable5 .grid-item__desc-small {
  margin: 0 30px 30px;
  font-family: "CirceRegular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: black;
  letter-spacing: 0.18em;
}
.intro .intro__grid .grid__item5 .grid-item__label .item-lable5 .grid-item__desc-small:hover {
  text-decoration: underline;
}

/*Intro (end)-------------------------------------------------------------------------------------*/
/*Features (start)----------------------------------------------------------------------------------*/
.features {
  background-color: white;
  padding: 30px 0;
  margin: 20px auto;
}
.features .features__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.features .features__list .features__item {
  display: flex;
  flex-direction: column;
  width: 210px;
  padding: 10px;
  border-right: 1px solid #f4f4f4;
}
.features .features__list .features__item .features__item-img {
  height: 70px;
  width: 70px;
  object-fit: contain;
  margin: 0 auto;
}
.features .features__list .features__item .feature__item-name {
  font-family: "CirceRegular", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-align: center;
  color: black;
}
.features .features__list .features__item .feature__item-desc {
  font-family: "CirceRegular", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: black;
}
.features .features__list .features__item5 {
  border: none;
}

/*Features (end)------------------------------------------------------------------------------------*/
/*Universal Page Header (start)---------------------------------------------------------------------*/
.page__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0;
}
.page__header .page__header__name-white {
  font-family: "CirceBold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.003em;
  color: white;
  border-left: 3px solid #e9c04a;
  border-right: 3px solid #e9c04a;
  margin: 0;
  padding: 0 20px;
}
.page__header .page__header__name-black {
  font-family: "CirceBold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.003em;
  color: black;
  border-left: 3px solid #e9c04a;
  border-right: 3px solid #e9c04a;
  margin: 0;
  padding: 0 20px;
}

/*Universal Page Header (end)----------------------------------------------------------------------------*/
/*About (start)--------------------------------------------------------------------------------------------*/
.about {
  height: 340px;
  background: url("../img/about_background.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about__block {
  display: flex;
  flex-direction: row;
  height: 390px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 35px;
  background-color: #f8f8f8;
}
.about .about__block .about__block-img {
  height: 356px;
  width: 536px;
}
.about .about__block .about__block-right {
  display: flex;
  flex-direction: column;
  height: 356px;
}
.about .about__block .about__block-right .about__block-desc1 {
  font-family: "CirceRegular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0 45px 0 45px;
  color: black;
}
.about .about__block .about__block-right .about__block-desc2 {
  font-family: "CirceLight", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 45px 0 45px;
  color: black;
}
.about .about__block .about__block-right .about__block-button {
  height: 50px;
  width: 270px;
  display: flex;
  border: 1px solid black;
  margin: 0px 45px 0 45px;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: "CirceRegular";
  font-size: 12px;
  letter-spacing: 0.18em;
  transition: 0.5s;
}
.about .about__block .about__block-right .about__block-button:hover {
  color: white;
  background-color: #395585;
}

/*About (end)-------------------------------------------------------------------------------------------*/
/*Shop Gallery themes (start)-----------------------------------------------------------------------------------*/
.recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  padding-bottom: 100px;
}

.discounts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.new_clothes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

/*Shop Gallery themes (end)-----------------------------------------------------------------------------------*/
/*Shop Gallery (start)-------------------------------------------------------------------------------------*/
.shop__gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}
.shop__gallery .gallery__button-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 50px;
  background-color: #888888;
  margin-top: 175px;
  margin-right: -10px;
}
.shop__gallery .gallery__button-left:hover {
  background-color: #395585;
}
.shop__gallery .gallery__button-left .arrow__left {
  width: 6px;
  height: 6px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-45deg);
}
.shop__gallery .gallery__item {
  height: 650px;
  width: 370px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 10px;
  padding: 15px;
}
.shop__gallery .gallery__item1 {
  background: url("../img/shop_gallery/shop_gallery_img1.jpg") center top 20%;
}
.shop__gallery .gallery__item2 {
  background: url("../img/shop_gallery/shop_gallery_img2.jpg") center top 20%;
}
.shop__gallery .gallery__item3 {
  background: url("../img/shop_gallery/shop_gallery_img3.jpg") center top 20%;
}
.shop__gallery .gallery__item4 {
  background: url("../img/shop_gallery/shop_gallery_img4.jpg") center top 20%;
}
.shop__gallery .gallery__item5 {
  background: url("../img/shop_gallery/shop_gallery_img5.jpg") center top 20%;
}
.shop__gallery .gallery__item6 {
  background: url("../img/shop_gallery/shop_gallery_img6.jpg") center top 20%;
}
.shop__gallery .gallery__item6 .gallery__item-label {
  width: 100%;
  height: auto;
  background-color: #f9f8f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop__gallery .gallery__item6 .gallery__item-label .gallery__item-label-name {
  font-family: "CirceRegular", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #9b9b9b;
  margin-top: 20px;
}
.shop__gallery .gallery__item6 .gallery__item-label .gallery__item-label-desc {
  font-family: "CirceRegular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-align: center;
  color: black;
  margin: 0 20px;
}
.shop__gallery .gallery__item6 .gallery__item-label .gallery__item-art {
  font-family: "CirceRegular";
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #6b6b6b;
  margin: 0;
}
.shop__gallery .gallery__item6 .gallery__item-label .gallery__item-discount {
  font-family: "CirceRegular";
  font-size: 18px;
  color: #b8b8b8;
  text-decoration: line-through;
  margin: 0;
}
.shop__gallery .gallery__item6 .gallery__item-label .gallery__item-label-price {
  font-family: "Rouble", sans-serif;
  font-size: 24px;
  color: #b98d0f;
  margin: 0 0 20px 0;
}
.shop__gallery .gallery__item6 .gallery__item-button {
  width: 100%;
  height: 50px;
  background-color: #3a5079;
  text-align: center;
  opacity: 90%;
  transition: 0.5s;
}
.shop__gallery .gallery__item6 .gallery__item-button .gallery__item-button-name {
  font-family: "CirceLight", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: white;
  display: block;
  margin-top: 15px;
}
.shop__gallery .gallery__item6 .gallery__item-modificators {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex: auto;
}
.shop__gallery .gallery__item6 .gallery__item-modificators .gallery__item__mod-discount {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #c2242d;
  align-self: center;
  box-shadow: 5px 5px 14px 0px rgba(34, 60, 80, 0.14);
}
.shop__gallery .gallery__item6 .gallery__item-modificators .gallery__item__mod-discount .gallery__item__mod-name-white {
  font-family: "CirceRegular", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: white;
  align-self: center;
}
.shop__gallery .gallery__item6 .gallery__item-modificators .gallery__item__mod-new {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 5px 14px 0px rgba(34, 60, 80, 0.14);
}
.shop__gallery .gallery__item6 .gallery__item-modificators .gallery__item__mod-new .gallery__item__mod-name-black {
  font-family: "CirceRegular", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: black;
  align-self: center;
}
.shop__gallery .gallery__button-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 50px;
  background-color: #888888;
  margin-top: 175px;
  margin-left: -10px;
}
.shop__gallery .gallery__button-right:hover {
  background-color: #395585;
}
.shop__gallery .gallery__button-right .arrow__right {
  width: 6px;
  height: 6px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

/*Shop Gallery (end)-------------------------------------------------------------------------------------*/
/*Offers(start)-----------------------------------------------------------------------------------------*/
.offers {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 345px;
}
.offers .offers__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  padding-top: 50px;
}
.offers .offers__block .offers__block1 {
  background: url("../img/offers_background.jpg") center;
  background-size: cover;
}
.offers .offers__block .offers__block2 {
  background: linear-gradient(146deg, whitesmoke 0%, gainsboro 100%);
}
.offers .offers__block .offers__block2 .offers__block-name1 {
  font-family: "CirceLight", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
}
.offers .offers__block .offers__block2 .offers__block-name2 {
  font-family: "CirceLight", sans-serif;
  font-size: 24px;
  letter-spacing: 0.035em;
  font-weight: 500;
  margin: 10px 0;
}
.offers .offers__block .offers__block2 .offers__block-name2-black {
  font-family: "CirceLight", sans-serif;
  font-size: 24px;
  letter-spacing: 0.035em;
  font-weight: 500;
  margin: 10px 0;
  color: black;
}
.offers .offers__block .offers__block2 .offers__block-desc {
  font-family: "CirceRegular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.015em;
  line-height: 25px;
  margin: 15px;
  width: 50%;
}
.offers .offers__block .offers__block2 .offers__block-desc-black {
  font-family: "CirceRegular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.015em;
  line-height: 25px;
  color: black;
  margin: 15px;
  width: 50%;
}
.offers .offers__block .offers__block2 .offers__block-button {
  display: flex;
  border: 1px solid white;
  font-family: "CirceLight", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
  width: 195px;
  justify-content: center;
  padding: 15px;
  transition: 0.5s;
}
.offers .offers__block .offers__block2 .offers__block-button:hover {
  background-color: white;
  color: black;
}

/*Offers(end)----------------------------------------------------------------------------------------*/
/*Articles (start)------------------------------------------------------------------------------------*/
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}
.articles .articles__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.articles .articles__list .articles__item {
  display: flex;
  justify-content: center;
  height: 345px;
  width: 570px;
  margin: 0 15px;
  padding: 30px;
}
.articles .articles__list .articles__item1 {
  background: url("../img/articles_background/articles_background1.jpg");
  background-size: cover;
}
.articles .articles__list .articles__item2 {
  background: url("../img/articles_background/articles_background2.jpg");
  background-size: cover;
}
.articles .articles__list .articles__item2 .articles__item-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.articles .articles__list .articles__item2 .articles__item-label-white {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: white;
  opacity: 90%;
}
.articles .articles__list .articles__item2 .articles__item-label-white .aritcles__item-name {
  font-family: "CirceLight", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.articles .articles__list .articles__item2 .articles__item-label-white .aritcles__item-name-black {
  font-family: "CirceLight", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: black;
}
.articles .articles__list .articles__item2 .articles__item-label-white .articles__button-red {
  display: flex;
  border: 1px solid white;
  font-family: "CirceLight", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
  width: 195px;
  justify-content: center;
  padding: 15px;
  transition: 0.5s;
}
.articles .articles__list .articles__item2 .articles__item-label-white .articles__button-red:hover {
  background-color: red;
  color: white;
}
.articles .articles__list .articles__item2 .articles__item-label-white .articles__button-blue {
  display: flex;
  border: 1px solid black;
  color: black;
  font-family: "CirceLight", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
  width: 195px;
  justify-content: center;
  padding: 15px;
  transition: 0.5s;
}
.articles .articles__list .articles__item2 .articles__item-label-white .articles__button-blue:hover {
  background-color: #3a5079;
  color: white;
}
.articles .articles__list .articles__learnmore {
  display: block;
  margin: 60px 0;
  font-family: "CirceBold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: black;
}
.articles .articles__list .articles__learnmore:hover {
  text-decoration: underline;
}

/*Articles (end)------------------------------------------------------------------------------------*/
/*Footer (start)--------------------------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 30px 20px 0 20px;
}
.footer .footer__nav {
  display: flex;
  align-self: center;
}
.footer .footer__nav .footer__logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer .footer__nav .footer__logo .footer__logo-name {
  font-family: "CirceRegular", sans-serif;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #848484;
}
.footer .footer__nav .footer__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
}
.footer .footer__nav .footer__nav-list .footer__nav-item {
  margin-right: 25px;
}
.footer .footer__nav .footer__nav-list .footer__nav-item .footer__nav-name {
  display: block;
  font-family: "CirceRegular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.13em;
  color: black;
}
.footer .footer__nav .footer__nav-list .footer__nav-item .footer__nav-name:hover {
  text-decoration: underline;
}
.footer .footer__main {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.footer .footer__main .footer__contacts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 200px;
}
.footer .footer__main .footer__contacts .footer__telephone {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.footer .footer__main .footer__contacts .footer__telephone .footer__tele-img {
  width: 20px;
  height: 20px;
  position: absolute;
}
.footer .footer__main .footer__contacts .footer__telephone .footer__number {
  margin-left: 30px;
  font-family: "CirceRegular", sans-serif;
  font-size: 15px;
  color: black;
}
.footer .footer__main .footer__contacts .footer__telephone .footer__number:hover {
  text-decoration: underline;
}
.footer .footer__main .footer__contacts .footer__adress {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.footer .footer__main .footer__contacts .footer__adress .footer__loc-img {
  height: 25px;
  width: 20xp;
  position: absolute;
}
.footer .footer__main .footer__contacts .footer__adress .footer__adress-name {
  font-family: "CirceRegular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: black;
  margin: 0 0 0 30px;
}
.footer .footer__main .footer__catalogue {
  display: flex;
  flex-direction: row;
  color: black;
  margin: 30px 0 0 120px;
}
.footer .footer__main .footer__catalogue .footer__catalogue-list {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  margin-right: 50px;
}
.footer .footer__main .footer__catalogue .footer__catalogue-list .footer__catalogue-name {
  font-family: "CirceLight", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: black;
}
.footer .footer__main .footer__catalogue .footer__catalogue-list .footer__catalogue-name:hover {
  text-decoration: underline;
}
.footer .footer__main .footer__catalogue .footer__catalogue-list .footer__catalogue-item {
  font-family: "CirceLight", sans-serif;
  font-size: 13px;
  color: #848484;
  margin: 5px;
}
.footer .footer__main .footer__catalogue .footer__catalogue-list .footer__catalogue-item:hover {
  text-decoration: underline;
}
.footer .footer__map {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/map_background.jpg") center;
  background-size: cover;
}
.footer .footer__map .footer__map-button {
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 0.5s;
}
.footer .footer__map .footer__map-button:hover {
  background-color: red;
  color: white;
}
.footer .footer__map .footer__map-button:hover .footer__map-name {
  font-family: "CirceRegular";
  font-size: 16px;
  color: black;
  margin-right: 30px;
}
.footer .footer__map .footer__map-button:hover .arrow__right-black {
  width: 6px;
  height: 6px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
}
.footer .footer__copyright {
  height: 45px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "CirceRegular";
  font-size: 14px;
  color: #555555;
}
.footer .footer__copyright .footer__copyright-name1 {
  margin-right: 100px;
}
.footer .footer__copyright .footer__copyright-name2 {
  margin-left: 100px;
}
.footer .footer__copyright .footer__copyright-link {
  display: block;
  font-family: "CirceRegular";
  font-size: 14px;
  color: #555555;
  margin: 0 5px;
}
.footer .footer__copyright .footer__copyright-link:hover {
  text-decoration: underline;
}

/*Footer (end)--------------------------------------------------------------------------------------*/
/*Sliders Section (start)-----------------------------------------------------------------------------*/
.slick-list {
  overflow: hidden;
}
.slick-list .shop__gallery .slick-arrow {
  margin-top: 175px;
  z-index: 10;
  font-size: 0;
  border: none;
  cursor: pointer;
}
.slick-list .slick-track {
  display: flex;
}

.shop__gallery .slick-arrow.slick-next {
  left: 0;
  height: 300px;
  width: 200px;
  background-color: #888888;
}
.shop__gallery .slick-arrow.slick-next:hover {
  background-color: #395585;
}

.shop__gallery .slick-arrow.slick-prev {
  right: 0;
  height: 300px;
  width: 200px;
  background-color: #888888;
}
.shop__gallery .slick-arrow.slick-prev:hover {
  background-color: #395585;
}

.slick-arrow.slick-prev {
  background: url("../img/icons/left_arrow.svg") center no-repeat;
  background-size: 50%;
}

.slick-arrow.slick-next {
  background: url("../img/icons/right_arrow.svg") center no-repeat;
  background-size: 50%;
}